<div class="card integration-item">
<a href="{{model.prometheusUrl}}" target="_blank">
<div class="text-center">
<img src="{{rootURL}}assets/images/prometheus.png" style="width:50px; height:auto;">
<p class="pt-2">Prometheus monitoring</p>
    </div>
</a>
</div>