<h2 class="text-center text-success">Thank you for signup!</h2>
<p class="text-center">We are expiencing high demand, <br>we are working to openup for large set of audience, <br>we are going back to you soon.</p> 
{{outlet}}