<ul class="nav">
    <li class="nav-item">
        {{#link-to 'mayaapplications' class="nav-link" }}Applications{{/link-to}}
    </li>
    <li class="nav-item">
        {{#link-to 'hosts' class="nav-link" }}Hosts{{/link-to}}
    </li>
</ul>
{{yield}}