<span>
	<button type="button" class="btn btn-success" style="cursor:pointer;background-color:#29A867;border-color:#29A867;margin-bottom:2%;"
         {{action 'authenticate'}} >{{t 'organization.slack.btnLabel.btnLabelAdd'}}</button>
</span>
 