<div class="card">
	<div class="card-body">
<a href="{{model.grafanaUrl}}" target="_blank">
<div class="text-center">
<img src="{{rootURL}}assets/images/grafana.svg" style="width:50px; height:auto;">
<p class="pt-2">Analytics</p>
    </div>
</a>
</div>
</div>