{{outlet}}
<div class="pt-3 d-flex align-items-center mb-3">
    <img src="assets/images/slack-logo.png" alt="slack" style="height:45px;">
  <h3 class="pl-2 mb-0" style="color:#0576b9">Slack Cards</h3>
</div>
<div class="d-flex align-items-center card-body mb-5" style="padding:0.8rem;border:1px solid rgba(0, 0, 0, 0.125); border-radius:0.25rem;border-left:5px solid #717274; background-color:#fff; box-shadow:0 1px 0 rgba(0,0,0,.25);">
  <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:#717274;font-size:25px;"></i>
  <p style="margin-bottom:0;padding-left:1%">No slack cards found. The first slack card created is the default slack card for the organization</p>
</div>

<div class="container">
  <div class="row card-body align-items-center mt-2 mb-2" style="padding:0.8rem;border:1px solid rgba(0, 0, 0, 0.125); border-radius:0.25rem; background-color:#fff; box-shadow:0 1px 0 rgba(0,0,0,.25);">
    <div class="col-md-6 d-flex justify-content-center">
      <h4 style="color:#0576b9">The process of creating default slack card involves authenticating against your slack workspace and selecting the slack
        channel.
      </h4>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="btn-group-vertical bd-r-3">
        <a href="#" class="w-100"target="_blank"> <button type="button" class="btn mt-2 mb-2 text-white bd-r-3" style="background-color:#e01563;cursor: pointer; ">Yes, create the default slack card</button></a>
       <a href="https://docs.mayaonline.io/" class="w-100"target="_blank"> <button type="button" class="btn mt-2 mb-2 text-white bd-r-3" style="background-color:#717274;cursor: pointer;">No, take me to the docs</button></a>
      </div>
    </div>
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <img src="assets/images/slack-config-chart.png" alt="slack-config">
    </div>
  </div>
</div>