<div class="card text-center">
    <div class="card-body">
        <div class="error">
            <h1 style="">404</h1>
            <span>{{t 'notFoundPage.header'}}</span>
        </div>
        {{#if settings.isRancher}}
        <div class="loader"></div>
        {{/if}}
    </div>
</div>