<div class="card">
	<div class="card-body">
   <a href="{{model.alertManagerUrl}}" target="_blank">
    <div class="text-center">
        <img src="{{rootURL}}assets/images/bell.png" style="width:50px; height:auto;">
        <p class="pt-2">Alerts</p>
    </div>
</a>
</div>
</div>