<div class="card">
    <div class="card-body">
        <i href="" class="fa fa-ellipsis-v float-right fa-2x" aria-hidden="true" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;"></i>
        <div class="mt-5">
            <p class="card-title-name">{{model.name}}</p>
            <span style="text-size:10px;" class="text-success">
            <i class="fa fa-circle text-success mr-1" aria-hidden="true"></i>
            {{model.state}}
            </span>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Deactivate</a>
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">View Config</a>
                <a class="dropdown-item" href="#">Export config</a>
                <a class="dropdown-item" href="#">Delete</a>
            </div>
        </div>
    </div>
</div>