<div class="loading-bar top-right">
    <div class="card" style="box-shadow: -12px 2px 25px 0 rgba(0,0,0,0.50);
">
        <div class="card-body">
            <ul class="list-group list-group-flush loading-bar-list">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Credential setup
                    <span class="text-success {{setupCredential}}"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    IngressAuth setup
                    <span class="text-success {{setupIngressAuth}}"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Monitoring configuration
                    <span class="text-success {{setupMonitoring}}"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Alert system
                    <span class="text-success {{setupAlerting}}"></span>
                </li>
            </ul>
        </div>
    </div>
</div>