<style>
    .github-btn{
        cursor:pointer;
    }
</style>

<a disabled="{{waiting}}" class="btn btn-secondary font-weight-bold github-btn" style="background-color:#FAFAFA; border-color:#CFCFCF; color:#24292E;" {{action "authenticate"}}>Sign in with GitHub</a>