<div>
    <h2 class="outlet_sub_title">Your profile</h2>
</div>
<div>
<div class="card">
   <div class="card-body">
      <div class="d-flex align-self-center justify-content-between">
      <div>
       <span class="font-weight-bold">Name</span>
       <p></p>
       <span class="font-weight-bold">Username</span>
       <p></p>
       <span class="font-weight-bold">Email</span>
       <p></p>
    </div>
      <div>
         <img src="https://s3.amazonaws.com/cdn-live.sketch.cloud/default_avatars/s/1.png" class="rounded-circle" height="143" width="143">
          </div>
       </div>
    </div>
</div>
</div>